@import "tailwindcss";


html {
  scroll-behavior: smooth;
}

body {
    font-family: "Cairo", sans-serif;

  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* WhatsApp Animation */
@keyframes floatWhatsApp {
  0%, 100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-15px);
  }
}

.animate-float-whatsapp {
  animation: floatWhatsApp 3s ease-in-out infinite;
}
